<nav class="doc-menu">
  <ul>
    <li><%= nav_link('Home', '/', class: 'doc-menu-link') %></li>
    <li>
      <h2 class="doc-menu-title">Form Layout</h2>
      <ul class="doc-submenu">
        <li><%= nav_link('Simple', '/doc/simple-form.html', class: 'doc-menu-link') %></li>
        <li><%= nav_link('Horizontal', '/doc/horizontal-form.html', class: 'doc-menu-link') %></li>
        <li><%= nav_link('Inline', '/doc/inline-form.html', class: 'doc-menu-link') %></li>
      </ul>
    </li>
    <li>
      <h2 class="doc-menu-title">Custom Elements</h2>
      <ul class="doc-submenu">
        <li><%= nav_link('Simple Select', '/css/example.html', class: 'doc-menu-link') %></li>
        <li><%= nav_link('Radio Button', '/css/example.html', class: 'doc-menu-link') %></li>
        <li><%= nav_link('Check Button', '/css/example.html', class: 'doc-menu-link') %></li>
      </ul>
    </li>
    <li>
      <h2 class="doc-menu-title">Development</h2>
      <ul class="doc-submenu">
        <li><%= nav_link('Documentation', '/js/example.html', class: 'doc-menu-link') %></li>
      </ul>
    </li>
  </ul>
</nav>
