<!DOCTYPE html>
<html lang="pt-br" class="<%= page_classes %>">
<head>
  <meta charset="UTF-8">
  <title><%= "#{data.page.title} - EA Style Framework" || "EA Style Framework" %></title>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="<%= current_page.data.description %>" />
  <meta name="keywords" content="<%= current_page.data.keywords %>" />
  <%= stylesheet_link_tag "base" %>

</head>
<body class="<%= page_classes %>">

  <header class="doc-header">
    <button class="doc-menu-btn"><span class="doc-menu-sandwich"></span></button>
    <h1 class="doc-header-title">
      <a href="/" title="Ir para a página inicial">EA Style Framework</a>
    </h1>
    <form action="" class="doc-search">
      <input autofocus type="search" class="doc-search-input" placeholder="Faça sua busca aqui">
      <div class="doc-search-results"></div>
    </form>
    <%= partial 'partials/doc-menu-header' %>
  </header>

  <%= partial 'partials/doc-menu' %>
